<div class="testimonial-container">
    <section class="testimonial-top">
        <div class="testimonial-header">
            <img src="/assets/img/testimonials/arrow-testi.svg" alt="Arrow">
            <span>{{ 'Home.Testimonials.Header' | translate }}</span>
        </div>
        <p class="testimonial-title">{{ 'Home.Testimonials.Title' | translate }}</p>
    </section>



    <section class="testimonial-content">

        <div class="testimonial-image-wrapper first">
            <img src="/assets/img/testimonials/testimonial-a.webp" alt="Testimonial A">
            <div class="testimonial-overlay">
                <div class="zitat-container">
                    <p>{{ 'Home.Testimonials.Profiles.LeonDorsch.Quote' | translate }}</p>
                </div>
                <div class="colleague-data">
                    <div class="colleague-info">
                        <p class="colleague-name">{{ 'Home.Testimonials.Profiles.LeonDorsch.Name' | translate }}</p>
                        <p class="colleague-job">{{ 'Home.Testimonials.Profiles.LeonDorsch.Job' | translate }}</p>
                    </div>
                    <a href="https://www.linkedin.com/in/example" class="linkedin-profile" target="_blank">
                        <img src="/assets/img/testimonials/linkedin-black.svg" alt="LinkedIn">
                        <span>{{ 'Home.Testimonials.ProfileLabel' | translate }}</span>
                    </a>
                </div>
            </div>
        </div>
    
        <div class="testimonial-image-wrapper second">
            <img src="/assets/img/testimonials/testimonial-b.webp" alt="Testimonial B">
            <div class="testimonial-overlay">
                <div class="zitat-container">
                    <p>{{ 'Home.Testimonials.Profiles.EnesHadzic.Quote' | translate }}</p>
                </div>
                <div class="colleague-data">
                    <div class="colleague-info">
                        <p class="colleague-name">{{ 'Home.Testimonials.Profiles.EnesHadzic.Name' | translate }}</p>
                        <p class="colleague-job">{{ 'Home.Testimonials.Profiles.EnesHadzic.Job' | translate }}</p>
                    </div>
                    <a href="https://www.linkedin.com/in/" class="linkedin-profile" target="_blank">
                        <img src="/assets/img/testimonials/linkedin-black.svg" alt="LinkedIn">
                        <span>{{ 'Home.Testimonials.ProfileLabel' | translate }}</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="testimonial-image-wrapper third">
            <img src="/assets/img/testimonials/testimonial-a.webp" alt="Testimonial C">
            <div class="testimonial-overlay">
                <div class="zitat-container">
                    <p>{{ 'Home.Testimonials.Profiles.SebastianHarhammer.Quote' | translate }}</p>
                </div>
                <div class="colleague-data">
                    <div class="colleague-info">
                        <p class="colleague-name">{{ 'Home.Testimonials.Profiles.SebastianHarhammer.Name' | translate }}</p>
                        <p class="colleague-job">{{ 'Home.Testimonials.Profiles.SebastianHarhammer.Job' | translate }}</p>
                    </div>
                    <a href="https://www.linkedin.com/in/" class="linkedin-profile" target="_blank">
                        <img src="/assets/img/testimonials/linkedin-black.svg" alt="LinkedIn">
                        <span>{{ 'Home.Testimonials.ProfileLabel' | translate }}</span>
                    </a>
                </div>
            </div>
        </div>
    
    </section>
    
    



</div>
