.testimonial-container {
    width: 90%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 0;
}

.testimonial-top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 10px;
}

.testimonial-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.testimonial-header img {
    width: 100px;
    height: auto;
    display: block;
    clip-path: inset(0 100% 0 0);
    animation: drawLine 5s ease-in-out infinite;
}

.testimonial-header span {
    font-family: 'Bricolage Grotesque';
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.testimonial-title {
    font-family: 'Bricolage Grotesque';
    font-size: 64px;
    font-weight: 700;
    color: black;
}


@keyframes drawLine {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    10% {
        clip-path: inset(0 0 0 0);
    }
    90% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(0 100% 0 0);
    }
}


.testimonial-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}


.testimonial-image-wrapper {
    flex: 1;
    max-width: 50%;
    min-width: 400px;
    position: relative;
    transition: z-index 0.3s ease, transform 0.3s ease;
}


.testimonial-image-wrapper:not(:first-child) {
    margin-left: -150px;
}


.testimonial-image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: relative;
    z-index: 1;
}




.testimonial-image-wrapper:hover .testimonial-overlay {
    background-image: url('/assets/img/testimonials/ornament-bg.svg');
}


.testimonial-image-wrapper.first {
    transform: rotate(-15deg);
}


.testimonial-image-wrapper.second {
    z-index: 2;
    transform: rotate(8deg);
}


.testimonial-image-wrapper.third {
    transform: rotate(-6deg);
}


.testimonial-image-wrapper:hover {
    z-index: 3;
    transform: rotate(0deg); 
}

.testimonial-overlay {
    position: absolute;
    border-radius: 24px;
    width: 97%;
    height: 97%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Bricolage Grotesque';
    font-size: 18px;
    font-weight: 400;
    color: black;
    z-index: 2;
}


.zitat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    padding: 10px;
    text-align: left;
}

.colleague-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 6px;

}

.colleague-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.colleague-name {
    font-family: 'Bricolage Grotesque';
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.colleague-job {
    font-family: 'Bricolage Grotesque';
    font-size: 16px;
    font-weight: 500;
    color: black;
}


.linkedin-profile {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
}

.linkedin-profile img {
    width: 18px;
    height: 18px;
}

.linkedin-profile span {
    font-family: 'Bricolage Grotesque';
    font-size: 18px;
    font-weight: 500;
    color: black;
}



.colleague-info:hover {
    color: white;
}

.colleague-info:hover .colleague-name,
.colleague-info:hover .colleague-job {
    color: white;
}


.linkedin-profile:hover img {
    content: url("/assets/img/testimonials/linkedin-white.svg");
}

.linkedin-profile:hover span {
    color: white;
}
