<div class="techstack-main" id="techstackSection">

    
    <div class="techstack-content">


            <div class="left-techstack">
                <p>MY STACK</p>
                <div class="skill-intro">
                    <p class="skill-font">Skill set</p>
                    <img src="/assets/img/techstack/drawnline.png" alt="">
                </div>
            </div>


<div class="second-row-main">
    <div class="center-techstack">
        <img src="/assets/img/techstack/skill-torn-bg.png" alt="">
        <div>
            <p>E-Commerce Manager, now expanding into Frontend Development. Skilled in building and designing web applications, with a strong understanding of digital business and agile workflows.</p>
        </div>
    </div>
            <div class="techstack-icons-cont">



                <div class="first-row-icons">
                <div class="each-icon-cont">
                <img src="/assets/img/techstack/icons/color/angular.svg" alt="">
                <p>Angular</p>
                </div>
                <div class="each-icon-cont">
                <img src="/assets/img/techstack/icons/color/html.svg" alt="">
                <p>HTML</p>
                </div>
                <div class="each-icon-cont">
                <img src="/assets/img/techstack/icons/color/css.svg" alt="">
                <p>CSS</p>
                </div>
                <div class="each-icon-cont">
                <img src="/assets/img/techstack/icons/color/js.svg" alt="">
                <p>Javascript</p>
                </div>
                <div class="each-icon-cont">
                <img src="/assets/img/techstack/icons/color/ts.svg" alt="">
                <p>Typescript</p>
                </div>
                </div>
    
                <div class="second-row-icons">
                <div class="each-icon-cont">
                <img src="/assets/img/techstack/icons/color/scrum.svg" alt="">
                <p>Scrum</p>
                </div>
                <div class="each-icon-cont">
                <img src="/assets/img/techstack/icons/color/git.svg" alt="">
                <p>Git</p>
                </div>
                <div class="each-icon-cont">
                <img src="/assets/img/techstack/icons/color/firebase.svg" alt="">
                <p>Firebase</p>
                </div>
                <div class="each-icon-cont">
                <img src="/assets/img/techstack/icons/color/material-design.svg" alt="">
                <p>Material Design</p>
                </div>
                <div class="each-icon-cont">
                <img src="/assets/img/techstack/icons/color/api.svg" alt="">
                <p>Rest-API</p>
                </div>
                </div>
            </div>


        </div>
        
        <div class="third-component">


            <section class="peeloff-cont">
                <div #finalPeeloff class="final-peeloff">
                    <img src="/assets/img/techstack/peeloff/final.png" alt="">
                    <div class="final-overlay">
                        <div>Also, I'm interested in diving into:</div>
                        <div class="techstack-to-learn-cont">
                            <div class="each-icon-upcoming-learn">
                                <img src="/assets/img/techstack/peeloff/react.svg" alt="">
                                <p>React</p>
                            </div>
                            <div class="each-icon-upcoming-learn">
                                <img src="/assets/img/techstack/peeloff/vue.svg" alt="">
                                <p>Vue</p>
                            </div>
                        </div>
                    </div>
                </div>
            

                <div #peeloffMiddle class="peeloff-middle">
                    <img src="/assets/img/techstack/peeloff/trans.png" alt="">
                </div>
            

                <div #peeloffCover class="peeloff-cover" (click)="peelOffInterests()">
                    <img src="/assets/img/techstack/peeloff/default.png" alt="">
                    <div class="peeloff-cover-overlay">
                        <img class="arrow-peel" src="/assets/img/techstack/peeloff/arrow-peel.svg" alt="">
                        <p class="handwritten-font">Pull to peel</p>
                    </div>
                </div>
            </section>
            



        </div>


        </div>

    

</div> 
