.techstack-main{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 800px;
    background: url('/assets/img/techstack/techstackbg.png') no-repeat center bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.first-sec{
    display: flex;
}

.techstack-content{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    flex-direction: column;
    gap: 40px;
}

.left-techstack{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}



.center-techstack{
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: start;
    position: relative;
}

.center-techstack img{
width: 80%;
height: 140px;
}

.center-techstack div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 60%;
    color: black;
    font-family:'Bricolage Grotesque' !important;
    font-size: 18px !important;
    display: flex;
    font-size: 1.5rem;
}


.skill-font{
    font-family:'Bricolage Grotesque';
    font-size: 64px;
    font-weight: 700;
}

.skill-intro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-intro p {
    position: relative;
    z-index: 1; 
}

.skill-intro img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    width: 110%;
}


.techstack-columns{
    display: flex;
    flex-direction: column;
}

.rows-techstack{
    display: flex;
    flex-direction: column;
}

.techstack-icons-cont{
display: flex;
flex-direction: column;
gap: 48px;
}

.techstack-icons-cont img{
    width: 60px;
    height: 60px;
}
.each-icon-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100px;
}

.first-row-icons, .second-row-icons{
    display: flex;
    flex-direction: row;
    gap: 32px;
}