.techstack-main{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: auto;
    min-height: 800px;
    background: url('/assets/img/techstack/techstackbg.png') no-repeat center bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.first-sec{
    display: flex;
    width: 100%;
}

.techstack-content{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1440px;
    display: flex;
    border: 1px solid transparent;
    flex-direction: row;
    gap: 32px;
}

.left-techstack{
display: flex;
flex-direction: column;
text-align: end;
}

.second-row-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    position: relative;
}

.center-techstack{
    display: flex;
    justify-content: center;
    text-align: start;
    position: relative;
}

.center-techstack img{
width: 90%;
height: 140px;
}

.center-techstack div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 60%;
    color: black;
    font-family:'Bricolage Grotesque' !important;
    font-size: 18px !important;
    display: flex;
    font-size: 1.5rem;
}


.skill-font{
    font-family:'Bricolage Grotesque';
    font-size: 64px;
    font-weight: 700;
}

.skill-intro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.skill-intro p {
    position: relative;
    z-index: 1;
    white-space: nowrap;
}

.skill-intro img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1) rotate(-90deg);
    width: 110%;
    clip-path: inset(0 100% 0 0);
    animation: draw-image 0.09s ease-in-out forwards, rotate-back 0.2s ease-in-out forwards;
    animation-delay: 0s;
    overflow-y: hidden;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

@keyframes rotate-back {
    0% {
        transform: translate(-50%, -50%) scaleX(-1) rotate(30deg);
    }
    5% {
        transform: translate(-50%, -50%) scaleX(-1) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) scaleX(-1) rotate(0deg);
    }
}

@keyframes draw-image {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    6% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}








.techstack-columns{
    display: flex;
    flex-direction: column;
}

.rows-techstack{
    display: flex;
    flex-direction: column;
}

.techstack-icons-cont {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 16px; 
    justify-items: center;
}

.each-icon-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6px;
}


.each-icon-cont img {
    width: 70px;
    height: 70px;
    filter: grayscale(100%);
    transition: filter 0.2s ease-in-out;
}

.each-icon-cont img {
    width: 70px;
    height: 70px;
    filter: grayscale(100%);
    transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.each-icon-cont img:hover {
    filter: grayscale(0%);
    transform: scale(0.8);
}


.first-row-icons, .second-row-icons{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.third-component {
    display: flex;
    align-items: end;
}

.peeloff-cont {
    position: relative;
    transform: rotate(14deg);
}



.final-peeloff img {
    width: 260px;
    height: 260px;
    display: block;
}



.final-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 95%;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
    text-align: center;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 24px;
}

.each-icon-upcoming-learn{
    display: flex;
    flex-direction: column;
    width: 70px;
    align-items: center;
}

.techstack-to-learn-cont{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.each-icon-upcoming-learn img{
    height: 40px;
    width: 40px;
}




.peeloff-cont {
    position: relative;
    transform: rotate(14deg);
}

.final-peeloff {
    position: relative;
    display: inline-block;
    z-index: 1;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.final-peeloff.show {
    opacity: 1;
    transform: scale(1);
}

.peeloff-middle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

.peeloff-middle img {
    width: 260px;
    height: 260px;
    display: block;
}

.peeloff-middle.show {
    opacity: 1;
}

.peeloff-middle {
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

.peeloff-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

.peeloff-cover:hover{
    cursor: pointer;
}

.peeloff-cover img {
    width: 260px;
    height: 260px;
    display: block;
}

.peeloff-cover-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
}

.peeloff-cover-overlay img {
    width: 60px;
    height: 50px;
}

.peeloff-cover.hidden {
    opacity: 0;
    pointer-events: none;
}

@media(max-width: 1300px){

    .peeloff-cont {
        transform: rotate(14deg) scale(0.9);
        transform-origin: center; 
    }
}


@media(max-width: 1250px){

    .skill-font{
        font-size: 48px;
    }

    .first-row-icons, .second-row-icons{
        gap: 24px;
    }

    .center-techstack div{
        font-size: 16px !important;
    }
}


@media(max-width: 1070px){

    .peeloff-cont {
        transform: rotate(14deg) scale(0.8);
        transform-origin: center; 
    }
    

}

@media(max-width: 970px){

.techstack-main{
    padding: 10vh 0 20vh 0;
}
.techstack-content{
    flex-direction: column;
    padding: 10vh 0 20vh 0;
    top: 0;
}
    
.left-techstack{
    align-self: end;
}

.center-techstack{
    margin-top: 64px;
}

.third-component{
    align-self: center;
}

}


@media (max-width: 600px) {

    .left-techstack{
        margin-right: 16px;
    }

    .each-icon-cont img {
        filter: none !important;
        height: 56px;
        width: 56px;
    }

    .techstack-icons-cont {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 20px;
    }

    .each-icon-cont{
        gap: 6px;
    }

    .each-icon-cont p{
        font-size: 16px !important;
    }

    .peeloff-cont {
        transform: rotate(14deg) scale(0.7);
        transform-origin: center;
        margin-top: -125px;
    }
}


@media (max-width: 500px) {

    .techstack-content{
        width: 100%;
    }
    .center-techstack img {
        width: 100%;
        min-height: 180px;
    }

    .torn-paper-descr{
        font-size: 14px !important;
    }
}