<div class="techstack-main">
    <div class="techstack-content">
       <div class="left-techstack">
            <p>MY STACK</p>
            <div class="skill-intro">
                <p class="skill-font">Skill set</p>
                <img src="/assets/img/techstack/drawnline.png" alt="">
            </div>
       </div>
       <div class="center-techstack">
                <img src="/assets/img/techstack/skill-torn-bg.png" alt="">
                <div>
                    <p>E-Commerce Manager, now expanding into Frontend Development. Skilled in building and designing web applications, with a strong understanding of digital business and agile workflows. </p>
                </div>
       </div>
       <div class="right-techstack">hier 2bild</div>
    </div>
</div>
