.techstack-main{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 800px;
    background: url('/assets/img/techstack/techstackbg.png') no-repeat center bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.techstack-content{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
}

.left-techstack{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}



.center-techstack{
    width: 60%;
    display: flex;
    background-color: blue;
}

.right-techstack{
    width: 20%;
    display: flex;
    background-color: green;
}

.skill-font{
    font-family:'Bricolage Grotesque';
    font-size: 64px;
    font-weight: 700;
}

.skill-intro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-intro p {
    position: relative;
    z-index: 1; 
}

.skill-intro img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    width: 110%;
}

