.about-main {
    display: flex;
    width: 100vw;
    position: relative;
}


.about-inner-main {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    width: 90%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 80px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}



.about-facts {
    display: flex;
    flex-direction: column;
}

.fact-container {
    position: relative;
    width: 600px; 
}

.fact-container:nth-child(1) {
    transform: rotate(6deg);
    z-index: 2;
}


.fact-container:nth-child(2) {
    margin-top: -80px;
}

.fact-container:nth-child(3) {
    margin-top: -50px;
}

.fact-container img {
    width: 100%;
    display: block;
    position: relative;
}

.fact-container:nth-child(1) .overlay {
    transform: translate(-50%, -70%);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 40%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Bricolage Grotesque';
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    transform: translate(-50%, -50%); 
}

.loc-cont, .move-cont, .remote-cont {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.loc-cont, .move-cont, .remote-cont span {
    white-space: nowrap;
}

.loc-icon, .move-icon, .remote-icon{
    width: 40px;
    height: 40px;
}

.about-me-description-cont{
    display: flex;
    justify-content: start;
    gap: 8px;
    flex-direction: column;
    max-width: 600px;
}

.my-separator{
    width: 60%;
    margin-top: -20px;
}

.about-me-text{
    font-family:'Bricolage Grotesque';
    font-size: 24px;
    font-weight: 400;
    color: black;
}

.lets-talk-cont{
    display: flex;
    justify-content: end;
}

.lets-talk-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 170px;
    padding: 8px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid black;
    font-family: "Bricolage Grotesque";
    font-weight: 500;
    color: black;
    font-size: 20px;
    line-height: 24px;
    box-shadow: 3px 3px black;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.lets-talk-btn:hover {
    transform: translate(3px, 3px);
    box-shadow: none;
    cursor: pointer;
    background-color: #F87A55;
    color: white;
}


@media(max-width: 1200px){

    .fact-container {
        width: 450px;
    }

    .about-facts{
        gap: 24px;
    }

    h3{
        font-size: 18px !important;
    }

    h4{
        font-size: 52px !important;
    }

    .about-me-text{
        font-size: 20px;
    }

    .overlay{
        font-size: 20px;
    }

}

@media(max-width: 900px){

.about-inner-main {
    flex-direction: column-reverse;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.lets-talk-btn {
    width: 140px;
    height: 40px;
    font-size: 16px;
}

}


@media(max-width: 500px){

    .fact-container {
        width: 400px;
    }

    .about-facts{
        gap: 32px;
    }

    .fact-container:nth-child(2){
        margin-top: -62px;
    }

    .overlay{
        font-size: 16px;
    }

    .loc-icon, .move-icon, .remote-icon{
        width: 32px;
        height: 32px;
    }
}

@media(max-width: 410px){

    .fact-container {
        width: 370px;
    }
}

@media(max-width: 380px){

    .fact-container {
        width: 300px;
    }
}