<div class="about-main">
    <div class="about-inner-main">


        <div class="about-facts">
            <div class="fact-container">
                <img class="yellow-bg" src="/assets/img/about/tornpaper/yellow1.png" alt="">
                <div class="overlay">
                    <div class="loc-cont">
                        <img class="loc-icon" src="/assets/img/about/icons/location.svg" alt="">
                        <span>Based in Augsburg</span>
                    </div>
                </div>
            </div>
            <div class="fact-container">
                <img class="blue-bg" src="/assets/img/about/tornpaper/blue2.png" alt="">
                <div class="overlay">
                    <div class="move-cont">
                        <img class="move-icon" src="/assets/img/about/icons/move.svg" alt="">
                        <span>Open to working on-site</span>
                    </div>
                </div>
            </div>
            <div class="fact-container">
                <img class="orange-bg" src="/assets/img/about/tornpaper/orange3.png" alt="">
                <div class="overlay">
                    <div class="remote-cont">
                        <img class="remote-icon" src="/assets/img/about/icons/remote.svg" alt="">
                        <span>Open to work remote</span>
                    </div>
                </div>
            </div>
        </div>
        


        <div class="about-me-description-cont"></div>
    </div>
</div>