<div class="about-main">
    <div class="about-inner-main">


        <div class="about-facts">
            <div class="fact-container">
                <img class="yellow-bg" src="/assets/img/about/tornpaper/yellow1.png" alt="">
                <div class="overlay">
                    <div class="loc-cont">
                        <img class="loc-icon" src="/assets/img/about/icons/location.svg" alt="">
                        <span>Based in Augsburg</span>
                    </div>
                </div>
            </div>
            <div class="fact-container">
                <img class="blue-bg" src="/assets/img/about/tornpaper/blue2.png" alt="">
                <div class="overlay">
                    <div class="move-cont">
                        <img class="move-icon" src="/assets/img/about/icons/move.svg" alt="">
                        <span>Open to working on-site</span>
                    </div>
                </div>
            </div>
            <div class="fact-container">
                <img class="orange-bg" src="/assets/img/about/tornpaper/orange3.png" alt="">
                <div class="overlay">
                    <div class="remote-cont">
                        <img class="remote-icon" src="/assets/img/about/icons/remote.svg" alt="">
                        <span>Open to working remote</span>
                    </div>
                </div>
            </div>
        </div>
        


        <div class="about-me-description-cont">
            <h3>WHO'S DANIEL?</h3>
            <h4>About Me</h4>
            <img class="my-separator" src="/assets/img/about/lines/line.png">
            <div>
                <span class="about-me-text">Hey there, I'm Daniel. With over 5 years of experience in eCommerce, I've been fascinated by the technical side, digitalization, and everything related to frontend development. Coding has become my passion, allowing me to bring ideas to life and create seamless digital experiences. I thrive on building innovative, user-friendly interfaces that make an impact.</span>
            </div>
            <div class="lets-talk-cont">
                <button class="lets-talk-btn">Let's Talk</button>
            </div>
        </div>
    </div>
</div>