<div class="contact-container" id="contactSection">

    <div class="contact-content">
        <section class="contact-intro-info">
            <span class="contact-me">{{ 'Home.Contact.Header' | translate }}</span>
            <span class="ready-to-work">{{ 'Home.Contact.SubHeader' | translate }}</span>
            <p>{{ 'Home.Contact.MotivationText' | translate }}</p>
            
            <div class="arrow-container">
                <img src="/assets/img/contact/yellow-arrow-contact.svg" alt="Arrow">
            </div>
        </section>

        <section class="frontend-sticker">
            <div class="sticker-container">
                <img class="sticker" src="/assets/img/contact/sticker-orange.png" alt="Sticker">
                <div class="sticker-overlay">DL</div>
                <svg width="180" height="180" class="sticker-text">
                    <path id="curve" d="M 15 90 A 75 75 0 1 1 15 92"></path>
                    <text class="stickertext">
                        <textPath href="#curve">
                            -- Daniel Löffler -- Frontend Developer -- Daniel Löffler -- Frontend Developer
                        </textPath>
                    </text>
                </svg>
            </div>
        </section>
        
        <section class="contact-form">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                


            
            
                <hr class="hr-1">
                <div class="form-group form-group-name">
                    <label for="name">{{ 'Home.Contact.Form.NameLabel' | translate }}</label>
                    <input 
                        type="text" 
                        id="name" 
                        [(ngModel)]="contactData.name" 
                        name="name"
                        [placeholder]="'Home.Contact.Form.NamePlaceholder' | translate" 
                        (input)="validateName($event)"
                        (focus)="validateName($event)"
                        required>
                        <div class="error-container">
                            <span *ngIf="nameError" class="error-text">{{ nameError }}</span>
                        </div>
                </div>
        
                <hr class="hr-2">
                <div class="form-group form-group-email">
                    <label for="email">{{ 'Home.Contact.Form.EmailLabel' | translate }}</label>
                    <input 
                        type="email" 
                        id="email" 
                        [(ngModel)]="contactData.email" 
                        name="email"
                        [placeholder]="'Home.Contact.Form.EmailPlaceholder' | translate" 
                        (input)="validateEmail($event)"
                        (focus)="validateEmail($event)"
                        required>
                        <div class="error-container">
                            <span *ngIf="emailError" class="error-text">{{ emailError }}</span>
                        </div>
                </div>
        
                <hr class="hr-3">
                <div class="form-group form-group-message">
                    <label for="message">{{ 'Home.Contact.Form.MessageLabel' | translate }}</label>
                    <textarea 
                        id="message" 
                        [(ngModel)]="contactData.message" 
                        name="message"
                        [placeholder]="'Home.Contact.Form.MessagePlaceholder' | translate"
                        (input)="validateMessage($event)"
                        (focus)="validateMessage($event)"
                        required></textarea>
                        <div class="error-container">
                            <span *ngIf="messageError" class="error-text">{{ messageError }}</span>
                        </div>
                </div>
        
                <hr class="hr-4">
                
                <div class="checkbox-container">
                    <input 
                        type="checkbox" 
                        id="privacy-checkbox"
                        (change)="onCheckboxChange($event)" 
                        required>
                    <label for="privacy-checkbox">
                        <div class="checkbox-wrapper">
                            <img class="checkbox-image" src="/assets/img/contact/checkbox.svg" alt="Checkbox">
                            <img class="checkmark" src="/assets/img/contact/check.svg" alt="Check">
                        </div>
                        <div>
                            <div class="privacy-text" [innerHTML]="'Home.Contact.Form.PrivacyText' | translate" (click)="navigateToPrivacy()"></div>



                        </div>
                    </label>
                </div>
        
                <div class="error-container">
                    <span *ngIf="checkboxError" class="error-text">{{ checkboxError }}</span>
                </div>
        
                <button 
                    class="send-contactform-btn" 
                    type="submit"
                    [disabled]="isButtonDisabled"
                    matTooltip="Please fill out all required fields"
                    matTooltipPosition="above">
                    {{ 'Home.Contact.Form.SendButton' | translate }}
                </button>
        
            </form>
        </section>
        
    </div>
    
</div>



