<div class="contact-container">
    <div class="contact-content">
        <section class="contact-intro-info">
            <span class="contact-me">Contact Me</span>
            <span class="ready-to-work">Ready to work together?</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
            
            <div class="arrow-container">
                <img src="/assets/img/contact/yellow-arrow-contact.svg" alt="Arrow">
            </div>
        </section>
        
        
        <section class="contact-form">
            <img class="sticker" src="/assets/img/contact/sticker-orange.png" alt="Sticker">
        
            <hr>
            <div class="form-group">
                <label for="name">What's your name?</label>
                <input type="text" id="name" placeholder="Your name goes here">
            </div>
        
            <hr>
            <div class="form-group">
                <label for="email">What's your mail?</label>
                <input type="email" id="email" placeholder="youremail@email.com">
            </div>
        
            <hr>
            <div class="form-group">
                <label for="message">How can I help you?</label>
                <textarea id="message" placeholder="Write your message here"></textarea>
            </div>
            
            <hr>


            <div class="checkbox-container">
                <input type="checkbox" id="privacy-checkbox">
                <label for="privacy-checkbox">
                    <div class="checkbox-wrapper">
                        <img class="checkbox-image" src="/assets/img/contact/checkbox.svg" alt="Checkbox">
                        <img class="checkmark" src="/assets/img/contact/check.svg" alt="Check">
                    </div>
                    <span>
                        I've read the 
                        <a href="#" class="privacy-link">privacy policy</a> 
                        and agree to the processing of my data as outlined.
                    </span>
                </label>
            </div>
            
            
        </section>
        
    </div>
</div>
