.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 800px;
    aspect-ratio: 16 / 9;
    background: url('/assets/img/welcome-bg.png') no-repeat center bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.introduction{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.polaroid-cont{
    display: flex;
    align-items: center;
    gap: 20px;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.image-wrapper img {
    display: block;
    width: 100%;
}

.image-overlay {
    position: absolute;
    top: 12px;
    left: 16px;
    width: 86%;
    height: 91%;
    background-color: rgba(0, 128, 0, 0.406);
    opacity: 1;
    pointer-events: none;
    transform: rotate(8deg);
}


