<section class="hero">


    <div class="introduction">


        <section class="hello-world-sec">
            <div class="long-welcome-btn-cont">
                <button class="long-welcome-btn">
                    <img src="/assets/img/hero/welcome-hand.svg" alt="Hand" class="welcome-hand">
                    <span class="btn-text"></span>
                </button>
            </div>
        </section>
        
        
        

        <div class="polaroid-cont">
            <h1>Frontend</h1>
            <div class="image-wrapper">
                <img src="/assets/img/hero/polaroid-frame.svg" alt="">

                <div class="image-overlay">
                    <div class="personal-img">
                        <img src="/assets/img/hero/avatar.png" alt="">
                        <h2>I am Daniel :) </h2>
                    </div>
                </div>
            </div>
        </div>
        <h1>DEVELOPER</h1>
    </div>
    


</section>