.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: auto;
    min-height: auto; 
    padding: 20vh 0 20vh 0; 
    background: url('/assets/img/welcome-bg.png') no-repeat bottom center;
    background-size: cover;
    align-items: center;
    text-align: center;
    position: relative;
}



.icon-wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



.hover-job-title{
    font-family: 'Bricolage Grotesque';
    font-size:128px;
    color: #F7C518;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1440px;
    margin: auto;
    position: relative;
}



.image-wrapper {
    position: absolute;
    display: inline-block;
}

.image-wrapper img {
    display: block;
    width: 100%;
}

.image-overlay {
    position: absolute;
    top: 12px;
    left: 16px;
    width: 86%;
    height: 91%;
    background-color: rgba(255, 255, 255, 0.406);
    opacity: 1;
    pointer-events: none;
    transform: rotate(8deg);
}

.personal-img{
width: 100%;
background-color: rgba(255, 255, 255, 0.499);
}



.btn-text {
    position: absolute;
    width: 100%;
    text-align: center;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.default-text {
    opacity: 1;
    z-index: 1;
}

.hover-text {
    opacity: 0;
    z-index: 0;
    transform: scale(0.9);
}

.long-welcome-btn:hover {
    width: 200px;
    background-color: blue;
    cursor: pointer;
}

.long-welcome-btn:hover .default-text {
    opacity: 0;
    transform: scale(1.1);
}

.long-welcome-btn:hover .hover-text {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
    transition-delay: 0.08s;
}

.welcome-hand {
    position: absolute;
    top: -40px;
    right: 10px;
    height: 40px;
    width: 40px;
    opacity: 0;
    transform: rotate(-180deg);
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    z-index: 2;
    pointer-events: none;
}

@keyframes wave {
    0% {
        transform: rotate(-180deg) translateX(0);
    }
    70% {
        transform: rotate(0deg) translateX(0);
    }
    80% {
        transform: rotate(-10deg) translateX(-5px);
    }
    90% {
        transform: rotate(5deg) translateX(5px);
    }
    100% {
        transform: rotate(0deg) translateX(0);
    }
}

.long-welcome-btn:hover .welcome-hand {
    opacity: 1;
    animation: wave 0.8s ease-in-out forwards; 
}


.get-in-touch-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    padding: 8px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid white;
    font-family: "Bricolage Grotesque";
    color: white;
    font-size: 16px;
    box-shadow: 3px 3px rgba(255, 255, 255, 1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.get-in-touch-btn:hover {
    transform: translate(3px, 3px);
    box-shadow: none;
    cursor: pointer;
    background-color: #F87A55;
}


.social-media-icons-cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-start;
}


.icon-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.icon-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #3355FF;
    border-radius: 50%;
    transition: height 0.4s ease-in-out;
}

.icon-wrapper:hover .icon-bg {
    height: 100%;
}

.icon-wrapper img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.long-welcome-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    padding: 8px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid white;
    font-family: 'Bricolage Grotesque';
    color: white;
    font-size: 16px;
    overflow: visible;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out; 
    white-space: nowrap;
    position: relative;
}



.firstInfosHero{
    display: flex;
    position: relative;
    flex-direction: column;
}

.polaroid-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(330px, -200px);
}

.secondInfosHero{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}


















.get-in-touch-btn-cont{
    display: flex;
    justify-content: end;
}

:host-context(html[lang="de"]) h1 {
    font-size: 110px !important;
    letter-spacing: 3px;
}

:host-context(html[lang="en"]) h1 {
    font-size: 128px !important;
}



@media(max-width: 1000px){

    h1{
        width: 600px;
    }

    :host-context(html[lang="de"]) h1 {
        font-size: 95px !important;
        letter-spacing: 3px;
    }
    
    :host-context(html[lang="en"]) h1 {
        font-size: 100px !important;
    }
}


@media(max-width: 980px){

.hero{
    padding: 10vh 0 20vh 0; 
}

.polaroid-cont{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.secondInfosHero{
    margin-left: 0;
}
}

@media(max-width: 690px){

    :host-context(html[lang="de"]) h1 {
        font-size: 60px !important;
        letter-spacing: 3px;
    }
    
    :host-context(html[lang="en"]) h1 {
        font-size: 65px !important;
    }

h1{
    width: auto;
}


    .firstInfosHero, .secondInfosHero{
        width: 100%;
        align-items: center;
        gap: 16px;
    }

}

@media(max-width: 690px){

    .hero{
        padding: 10vh 0 40vh 0; 
    }

    .polaroid-cont{
        top: 110%;
    }

    :host-context(html[lang="de"]) h1 {
        font-size: 50px !important;
        letter-spacing: 3px;
    }
    
    :host-context(html[lang="en"]) h1 {
        font-size: 55px !important;
    }
}





