header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1440px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    z-index: 10;
    background: transparent;
}


nav {
    display: flex;
    flex: 5;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Bricolage Grotesque';
}


.my-logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.logo-circle {
    font-family: 'Helix Regular';
    font-size: 48px;
    color: #3355FF;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        color: #F7C518;
    }
}


.change-lang {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    min-width: 150px;
}


.toggle-lang {
    position: relative;
    width: 32px;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.toggle-lang img:nth-child(1) {
    position: absolute;
    z-index: 2;
    width: 13px;
    height: 13px;
}

.toggle-lang img:nth-child(2) {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.nav-about-cont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

}

.nav-about-cont a {
    position: relative;
    z-index: 1; 
}

.nav-about-cont img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    max-width: 120px;
    clip-path: inset(100% 0 0 0);
    transition: clip-path 0.3s ease-in-out;
}

.nav-about-cont:hover img {
    clip-path: inset(0 0 0 0);
}

.nav-skills-cont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.nav-skills-cont a {
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.nav-skills-cont img {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    max-width: 150px;
    z-index: 2;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0.3s ease-in-out;
    pointer-events: none;
}

.nav-skills-cont:hover img {
    clip-path: inset(0 0 0 0);
}


.nav-projects-cont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.nav-projects-cont a {
    position: relative; 
    z-index: 2;
    cursor: pointer;
    color: white;
}

.nav-projects-cont img {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    max-width: 150px;
    z-index: 3;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0.3s ease-in-out;
    pointer-events: none;
    
}

.nav-projects-cont:hover img {
    clip-path: inset(0 0 0 0);
}

.nav-contact-cont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.nav-contact-cont a {
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.nav-contact-cont img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130%;
    max-width: 130px;
    z-index: 2;
    clip-path: inset(0 100% 0 0); 
    transition: clip-path 0.3s ease-in-out;
    pointer-events: none;
}

.nav-contact-cont:hover img {
    clip-path: inset(0 0 0 0);
}










