header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px; 
    display: flex;
    align-items: center;
    z-index: 10;
    background: transparent;
    display: flex;
}

nav {
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Bricolage Grotesque';
}

.my-logo{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: blue;
}

.change-lang{
    width: 15vw;
    display: flex;
    justify-content: around;
    justify-content: center;
    gap: 4px;
    align-items: center;
}

.toggle-lang {
    position: relative;
    width: 32px;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.toggle-lang img:nth-child(1) {
    position: absolute;
    z-index: 2;
    width: 13px;
    height: 13px;
}

.toggle-lang img:nth-child(2) {
    position: absolute;
    z-index: 1;
    width: 100%;
}