<header [ngClass]="{ 'header-overlay-mode': isOverlayMode }">
    

    <div class="my-logo">
        <div class="logo-circle">
            <p>DL</p>
        </div>
    </div>
    <nav>
        <div class="nav-about-cont">
            <a href="#">About me</a>
            <img src="/assets/img/header/hoveraboutme.svg" alt="">
        </div>

        <div class="nav-skills-cont">
            <a href="#">Skills</a>
            <img src="/assets/img/header/hoverskills.svg" alt="">
        </div>

        <div class="nav-projects-cont">
            <a href="#">Projects</a>
            <img src="/assets/img/header/hovercontact.svg" alt="">
        </div>

        <div class="nav-contact-cont">
        <a href="#">Contact</a>
        <img src="/assets/img/header/hoverprojects.svg" alt="">
        
        </div>
    </nav>
    <div class="change-lang">

        <div class="change-lang-en-cont">
            <span>EN</span>
            <img src="/assets/img/header/toggle.svg" alt="">
        </div>

            <div class="toggle-lang">
                <img src="/assets/img/header/bluedot.svg" alt="">
                <img src="/assets/img/header/orangeline.svg" alt="">
            </div>

            <div class="change-lang-en-cont">
                <span>DE</span>
                <img src="/assets/img/header/toggle.svg" alt="">
            </div>
    </div>
</header>
