<header>
    <div class="my-logo">
        <div class="logo-circle">
            <p>DL</p>
        </div>
    </div>
    <nav>
        <a href="#">About me</a>
        <a href="#">Skills</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
    </nav>
    <div class="change-lang">
        <span>EN</span>
            <div class="toggle-lang">
                <img src="/assets/img/header/bluedot.svg" alt="">
                <img src="/assets/img/header/orangeline.svg" alt="">
            </div>
        <span>DE</span>
    </div>
</header>
