*{
    margin: 0;
    padding: 0;
}

body {
    font-family:'Bricolage Grotesque', sans-serif;
    color: white;
}

h1{
    font-size: 128px;
    font-weight: 700;
}

h2{
    font-family: 'Kalam';
    font-size: 20px;
    font-weight: 400;
    color: black
}

@font-face {
    font-display: swap;
    font-family: 'Helix Regular';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/HelixRegular-ARLXp.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/bricolage-grotesque-v7-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/bricolage-grotesque-v7-latin-500.woff2') format('woff2');
}

/* kalam-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/kalam-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
