<div class="project-detail-container">
    <div class="overlay-card">
        <div class="overlay-card-content">
            


            <section class="project-section">
                <div class="project-text">

                    <div class="arrow-back" (click)="closeProjectDetail()">
                        <img src="/assets/img/project-detail/arrow-back.svg" alt="">
                        <p>Go Back</p>
                    </div>

                    <div class="top-section">
                        <h4>{{project.title}}</h4>
                        <img class="animated-line" src="/assets/img/project-detail/hr-blue-line.svg" alt="">
                    </div>

                    <div class="descr-section">
                        <p class="sub-headline">Description</p>
                        <span class="text-description">{{project.description}}</span>
                    </div>

                    <div class="impl-section">
                        <p class="sub-headline">Implementation Details</p>
                        <span class="text-description">This App is a Slack Clone App. It revolutionizes team communication...</span>
                    </div>

                    <p class="duration-text"><b>Duration:</b> 3 weeks</p>
            
                    <div class="tech-icons">
                        <img src="/assets/img/project-detail/html-detail.svg" alt="HTML">
                        <img src="/assets/img/project-detail/css-detail.svg" alt="CSS">
                        <img src="/assets/img/project-detail/js-detail.svg" alt="CSS">
                    </div>
                </div>
            
                <div class="project-media">
                    <img src="{{project.image}}" alt="El Pollo Loco Picture">
                    
                    <div class="buttons">
                        <button class="github-btn">GitHub</button>
                        <button class="live-test-btn">Live Test</button>
                    </div>

                    <div class="arrow-forward" (click)="nextProject()">
                        <p>Next Project</p>
                        <img src="/assets/img/project-detail/forward.svg" alt="">
                    </div>
                    
                </div>
            </section>
        </div>
    </div>
</div>
