.overlay-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100px;
    z-index: 50; 
}



.project-detail-container {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.each-techicon-cont{
    display: flex;
}


.overlay-card {
    width: 100%;
    max-width: 1900px;
    height: 70vh;
    background-color: #1D1D1D;
    background-image: url('/assets/img/project-detail/project-detail-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay-card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}






.arrow-back {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    color: black;
    padding-left: 16px;
    max-width: 1440px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Bricolage Grotesque';
    > img { 
        width: 32px;
        height: auto;
    }
}

.arrow-back:hover{
    color: #F87A55;
    cursor: pointer;
}

.arrow-forward {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
    max-width: 1440px;
    padding-right: 16px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Bricolage Grotesque';
    > img { 
        width: 32px;
        height: auto;
    }
}

.arrow-forward:hover{
    color: #F7C518;
    cursor: pointer;
}


.project-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20%;
    border: 1px solid transparent;
    max-width: 1440px;
    width: 90%;
    padding-top: 100px;
}



.project-text {
    color: black;
    font-family: "Bricolage Grotesque";
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2.2vw, 40px);

}

.impl-section, .descr-section{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sub-headline{
    font-family: 'Bricolage Grotesque';
    font-size: 24px;
    font-weight: 700;
    color: black;
}

.text-description{
    font-family: 'Bricolage Grotesque';
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.tech-icons {
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

.tech-icons img{
    height: 48px;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: fit-content;
    
    h4 {
        font-size: 64px;
        font-weight: 700;
        white-space: nowrap;
    }

    .animated-line {
        width: 90%;
        max-width: 400px;
        height: auto;
        clip-path: inset(0 100% 0 0);
        animation: drawLine 8s ease-in-out infinite;
    }
}


@keyframes drawLine {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    10% {
        clip-path: inset(0 0 0 0); 
    }
    90% {
        clip-path: inset(0 0 0 0); 
    }
    100% {
        clip-path: inset(0 100% 0 0);
    }
}

.duration-text{
    font-family: 'Bricolage Grotesque';
    font-size: 18px;
    font-weight: 400;
}



.project-media {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    border: 1px solid transparent;

    img {
        max-width: 135%;
        height: auto;
        border-radius: 10px;
    }

    .buttons {
        display: flex;
        gap: 20px;
        margin-bottom: 15%;
    }
}





.live-test-btn, .github-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(30px, 2.5vw, 30px);
    width: clamp(100px, 10vw, 130px);
    padding: clamp(4px, 0.5vw, 6px);
    border-radius: 50vw;
    background-color: transparent;
    border: clamp(1px, 0.1vw, 2px) solid white;
    font-family: "Bricolage Grotesque";
    color: white;
    font-size: clamp(12px, 1vw, 16px);
    box-shadow: clamp(1px, 0.3vw, 3px) clamp(1px, 0.3vw, 3px) rgb(255, 255, 255);
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    margin: clamp(6px, 0.5vw, 6px);
    text-decoration: none;
}

.github-btn:hover, .live-test-btn:hover {
    transform: translate(3px, 3px);
    box-shadow: none;
    cursor: pointer;
    background-color: #F87A55;
}

