<div class="imprint-container">
    <p class="headl">{{ 'Imprint.LegalNotice' | translate }}</p>

    <h2>{{ 'Imprint.Information' | translate }}</h2>
    <p>{{ 'Imprint.Name' | translate }} <br> {{ 'Imprint.JobTitle' | translate }} <br> {{ 'Imprint.Location' | translate }}</p>

    <h2>{{ 'Imprint.Contact' | translate }}</h2>
    <p>{{ 'Imprint.Phone' | translate }} <br> 
        {{ 'Imprint.Email' | translate }}: <a href="mailto:loefflerdaniel&#64;web.de">loefflerdaniel&#64;web.de</a>
    </p>

    <h2>{{ 'Imprint.Disclaimer' | translate }}</h2>

    <h3>{{ 'Imprint.LiabilityContent' | translate }}</h3>
    <p>{{ 'Imprint.LiabilityContentText' | translate }}</p>
    <p>{{ 'Imprint.LiabilityContentText2' | translate }}</p>

    <h3>{{ 'Imprint.LiabilityLinks' | translate }}</h3>
    <p>{{ 'Imprint.LiabilityLinksText' | translate }}</p>
    <p>{{ 'Imprint.LiabilityLinksText2' | translate }}</p>

    <h3>{{ 'Imprint.Copyright' | translate }}</h3>
    <p>{{ 'Imprint.CopyrightText' | translate }}</p>
    <p>{{ 'Imprint.CopyrightText2' | translate }}</p>

    <button routerLink="/" class="back-button">{{ 'Imprint.BackToHome' | translate }}</button>
</div>
