.project-detail-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-card {
    width: 100%;
    max-width: 1900px;
    height: 70vh;
    background-color: #1D1D1D;
    background-image: url('/assets/img/project-detail/project-detail-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay-card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header-overlay {
    height: 100px;
    width: 100%;
    max-width: 1440px;
    z-index: 20;
}

.arrow-back {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    color: black;
    padding-left: 16px;
    max-width: 1440px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Bricolage Grotesque';
    > img { 
        width: 32px;
        height: auto;
    }
}

.arrow-back:hover{
    color: #F87A55;
    cursor: pointer;
}

.arrow-forward {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
    max-width: 1440px;
    padding-right: 16px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Bricolage Grotesque';
    > img { 
        width: 32px;
        height: auto;
    }
}

.arrow-forward:hover{
    color: #F7C518;
    cursor: pointer;
}


.project-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20%;
    border: 1px solid transparent;
    max-width: 1440px;
    width: 90%;
}



.project-text {
    color: black;
    font-family: "Bricolage Grotesque";
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2.2vw, 40px);

}

.impl-section, .descr-section{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.top-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-headline{
    font-family: 'Bricolage Grotesque';
    font-size: 24px;
    font-weight: 700;
    color: black;
}

.text-description{
    font-family: 'Bricolage Grotesque';
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.tech-icons {
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

.tech-icons img{
    height: 48px;
}

.animated-line {
    width: 90%;
    max-width: 460px;
    margin-top: -24px;
    height: auto;
    clip-path: inset(0 100% 0 0);
    animation: drawLine 8s ease-in-out infinite;
}

@keyframes drawLine {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    10% {
        clip-path: inset(0 0 0 0); 
    }
    90% {
        clip-path: inset(0 0 0 0); 
    }
    100% {
        clip-path: inset(0 100% 0 0);
    }
}

.duration-text{
    font-family: 'Bricolage Grotesque';
    font-size: 18px;
    font-weight: 400;
}



.project-media {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    border: 1px solid transparent;

    img {
        max-width: 135%;
        height: auto;
        border-radius: 10px;
    }

    .buttons {
        display: flex;
        gap: 20px;
    }
}



.live-test-btn, .github-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    padding: 8px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid white;
    font-family: "Bricolage Grotesque";
    color: white;
    font-size: 16px;
    box-shadow: 3px 3px rgba(255, 255, 255, 1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.github-btn:hover {
    transform: translate(3px, 3px);
    box-shadow: none;
    cursor: pointer;
    background-color: #F87A55;
}

.live-test-btn:hover{
    transform: translate(3px, 3px);
    box-shadow: none;
    cursor: pointer;
    background-color: #F87A55;
}