<div class="project-detail-container">
    <div class="overlay-card">
        <div class="overlay-card-content">
            <app-header class="header-overlay" [isOverlayMode]="true"></app-header>
            <div class="arrow-back">
                <img src="/assets/img/project-detail/arrow-back.svg" alt="">
                <p>Go Back</p>
            </div>

            <section class="project-section">
                <div class="project-text">

                    <div class="top-section">
                        <h4>EL POLLO LOCO</h4>
                        <img class="animated-line" src="/assets/img/project-detail/hr-blue-line.svg" alt="">
                    </div>

                    <div class="descr-section">
                        <p class="sub-headline">Description</p>
                        <span class="text-description">This App is a Slack Clone App. It revolutionizes team communication...</span>
                    </div>

                    <div class="impl-section">
                        <p class="sub-headline">Implementation Details</p>
                        <span class="text-description">This App is a Slack Clone App. It revolutionizes team communication...</span>
                    </div>

                    <p class="duration-text"><b>Duration:</b> 3 weeks</p>
            
                    <div class="tech-icons">
                        <img src="/assets/img/project-detail/html-detail.svg" alt="HTML">
                        <img src="/assets/img/project-detail/css-detail.svg" alt="CSS">
                        <img src="/assets/img/project-detail/js-detail.svg" alt="CSS">
                    </div>
                </div>
            
                <div class="project-media">
                    <img src="/assets/img/projects/epl.png" alt="El Pollo Loco Picture">
                    
                    <div class="buttons">
                        <button class="github-btn">GitHub</button>
                        <button class="live-test-btn">Live Test</button>
                    </div>
                </div>
            </section>
            <div class="arrow-forward">
                <p>Next Project</p>
                <img src="/assets/img/project-detail/forward.svg" alt="">
            </div>
        </div>
    </div>
</div>
