<footer class="footer">
    <div class="footer-content">

        <div class="footer-left">
            <a href="#" class="logo-circle">
                <p>DL</p>
            </a>
            <p class="copyright">© Daniel Löffler 2025</p>
        </div>

        <nav class="footer-nav">
            <a href="#">Legal Notice</a>


<a href="https://github.com/danilo895" target="_blank" rel="noopener noreferrer" class="hover-container github-container">
    <img src="/assets/img/hero/network2.svg" alt="GitHub Icon" class="github-icon">
    GitHub
</a>

<a href="https://de.linkedin.com/in/daniel-l%C3%B6ffler-179359261" target="_blank" rel="noopener noreferrer" class="hover-container linkedin-container">
    <img src="/assets/img/hero/network1.svg" alt="LinkedIn Icon" class="linkedin-icon">
    LinkedIn
</a>

            


            
            <a href="#">Email</a>
        </nav>
    </div>
</footer>
