<footer class="footer">
    <div class="footer-content">

        <div class="footer-left">
            <a href="#" class="logo-circle">
                <p>DL</p>
            </a>
            <p class="copyright">© Daniel Löffler 2025</p>
        </div>

        <nav class="footer-nav">


            
            <div class="nav-projects-cont">
                <a (click)="navigateToImprint()">Legal Notice</a>
                <img src="/assets/img/header/hoverprojects.svg" alt="">
            </div>
            

            <div class="hover-container github-container">
                <img src="/assets/img/hero/network2.svg" alt="GitHub Icon" class="github-icon">
                <a href="https://github.com/danilo895" target="_blank" rel="noopener noreferrer">GitHub</a>
            </div>
            
            <div class="hover-container linkedin-container">
                <img src="/assets/img/hero/network1.svg" alt="LinkedIn Icon" class="linkedin-icon">
                <a href="https://de.linkedin.com/in/daniel-l%C3%B6ffler-179359261" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            </div>
            
            


            
            <div class="hover-container email-container">
                <img src="/assets/img/hero/network3.svg" alt="Email Icon" class="email-icon">
                <a href="mailto:loefflerdaniel@web.de?subject=Anfrage&body=Hallo Daniel, ich habe deine Website gesehen und würde gerne ...">E-Mail</a>

            </div>
        </nav>
    </div>
</footer>
