<section class="projects-main">

    <div class="each-project-cont">
        <div class="preview-pic">
            <img src="/assets/img/projects/epl.png" alt="Project Preview">
            <div class="overlay">
                <button class="get-in-touch-btn">Project details</button>
            </div>
        </div>
        <div class="project-short-infos-main">
            <p class="project-title">El Pollo Loco</p>
            <p class="project-description">Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.</p>
        </div>
    </div>
    





    <div class="each-project-cont">Project 2</div>
    <div class="each-project-cont">Project 3</div>
    <div class="each-project-cont">Project 4</div>
</section>
