<section class="projects-main">
    <div class="each-project-cont" *ngFor="let project of projects">
    <div class="preview-pic">
        <img [src]="project.image" [alt]="project.title">
        <div class="overlay">
        <button class="get-in-touch-btn">{{ project.buttonText }}</button>
        </div>
    </div>
    <div class="project-short-infos-main">
        <p class="project-title">{{ project.title }}</p>
        <p class="project-description">{{ project.description }}</p>
    </div>
    </div>
</section>

